VITE_FIREBASE_API_KEY=AIzaSyA9EsKDY-WUiQy4xWUrfEfsTqMlyRXn4Vk
VITE_FIREBASE_AUTH_DOMAIN=imprint-designs.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=imprint-designs
VITE_FIREBASE_STORAGE_BUCKET=imprint-designs.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=612962355524
VITE_FIREBASE_APP_ID=1:612962355524:web:0db9cdac22c7184ec36f11
